<style>
    .banner {
        position: relative;
        width: 100%;
        height: 400px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
    }

        .banner img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            animation: fade 12s infinite;
        }

    object-fit: cover;
    }

    .search-box {
        background: white;
        padding: 20px;
        width: 600px;
        height: 80px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .search {
        width: 500px;
        padding: 10px;
        border-radius: 10px;
        border: 1px black solid;
    }

    .search-box button {
        background: #1d3557;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

        .search-box button:hover {
            background: #457b9d;
        }
</style>
<section class="banner">
    <img src="~/img/Banner/banner1.jpg" alt="Travel Image">
    <div>
        <h1 class="typing-text" id="typing-text">Bạn muốn tìm nhà hàng ở đâu?</h1>
        <div class="search-box">

            <input class="search" type="text" placeholder="Bạn muốn tìm ở  đâu?">
            <button type="button" class="btn btn-primary px-4 rounded-pill fw-semibold" data-bs-toggle="modal" data-bs-target="#maintenanceModal">
                Search
            </button>
        </div>
    </div>
</section>
